//main: main.scss

$carousel-indicator-width:          auto;
$carousel-indicator-height:         auto;
$carousel-indicator-spacer:         3px;
$carousel-indicator-active-bg:      $white;

$nav-pills-link-active-bg: white;